{% extends 'base/base.html' %}

{% block body_block %}
<div class="container">
  <p></p>
  <div class="row">
    <div class="col-sm-5">
      <div class="card border-light mb-3" style="width: 25rem;">
        <div class="card-body">
          <h1 style='border: 2px solid black; border-radius: 0.7rem;'> &ensp; {{ plate.plate_nubmer }}</h1><br>
          <p>Рейтинг авто:</p>
          <p>Марка автомобиля:</p>
          <p>Цвет автомобиля:</p>
          <div class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Владелец:
              {% if plate.user_link %}
                <span>{{plate.user_link}}</span>
              {% else %}
                <span>Не зарегистрирован</span>
              {% endif %}
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Впервые замечен:
              <span>{{plate.created_date|date:"d-m-Y"}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Добавлен:
              <span><a href="{% url 'base:personal' username=plate.created_by.username %}"> @{{plate.created_by}}</a></span>
            </li>
            <a href="{% url 'base:personal' username=user.username %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
              Постов:
              <span class="badge badge-primary badge-pill">{{reports.count}}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <h2>Reports to this Vehicle:</h2><br>
      {% for report in reports %}
        {% include 'report/_report.html'%}
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
