/* main properties */
*{
  word-break: normal;
  font-family: 'Source Sans Pro', sans-serif;
}

body{
  background-color: #e9eaed;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

/* allow to define user's screen size and if it small delete container
   padding and margin*/
.mycontainer{
  margin: auto;
}
@media screen and ( max-width: 700px ){
    .mycontainer{
        margin-left: 0;
        margin-right: 0;
        padding-right: 0px;
        padding-left: 0px;
    }
}

/* plate information page list adjustment */
.plate-list{
  margin: -0.7rem -0.7rem -0.7rem -0.7rem;
  text-align: right;
  word-break: break-all;
}

.blue{
  color: #016bad;
  font-size: 1.2rem;
}

.green{
  color: #28a745;
  font-size: 1.2rem;
}

.green-text{
  color: #28a745;
  font-size: 1.2rem;
}

.icons{
   /* it's allow to change symbols position about line */
  top: 3px;
  position:relative;
}

.red{
  color: #c82333;
  font-size: 1.2rem;
}

/* avatars properties small and big one*/
.avatar{
  width: 50px;
  height: 50px;
  vertical-align: middle;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-comment{
  width: 30px;
  height: 30px;
  vertical-align: middle;
  border-radius: 50%;
  object-fit: cover;
}


/* style plate button at report corner */
.plate{
    color: red;
    border-color: red;
    background-color: transparent;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    padding-top: -100px;
    border: 1px solid;
    font-size: 1rem;
    border-radius: .25rem;
}

.plate:hover {
  background-color: red; /* Green */
  border-color: white;
  color: white;
}

/* new link colour */
.my-card-link{
  color: #4c4d4f;
}


/* stackoverflow solution to change placeholder in search field */
.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #bec1c6;
    font-style: italic;
  }
.form-control::-moz-placeholder { /* Firefox 19+ */
    color: #bec1c6;
    font-style: italic;
  }
.form-control:-ms-input-placeholder { /* IE 10+ */
    color: #bec1c6;
    font-style: italic;
  }
.form-control:-moz-placeholder { /* Firefox 18- */
    color: #bec1c6;
    font-style: italic;
  }

.plate-class{
  color: blue;
  unicode-range: U+30-39;
}
