<!DOCTYPE html>
<html lang="en">
	<head>
        <title>Facebook Theme Demo</title>
        <link href="assets/css/bootstrap.css" rel="stylesheet">
        <link href="assets/css/facebook.css" rel="stylesheet">
    </head>

    <body>
    <div class="wrapper">
			<div class="box">
				<div class="row row-offcanvas row-offcanvas-left">

					<!-- sidebar -->

					<!-- /sidebar -->

					<!-- main right col -->
					<div class="column col-sm-10 col-xs-11" id="main">


						<!-- /top nav -->

						<div class="padding">
							<div class="full col-sm-9">

								<!-- content -->
								<div class="row">

								 <!-- main col left -->

								  <!-- main col right -->
								  <div class="col-sm-7">

										<div class="panel panel-default">
										<div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>Bootply Editor &amp; Code Library</h4></div>
										 <div class="panel-body">
										 <p><img src="assets/img/150x150.gif" class="img-circle pull-right"> <a href="#">The Bootstrap Playground</a></p>
										 <div class="clearfix"></div>
										 <hr>
										 Design, build, test, and prototype
	 using Bootstrap in real-time from your Web browser. Bootply combines the
		power of hand-coded HTML, CSS and JavaScript with the benefits of
	 responsive design using Bootstrap. Find and showcase Bootstrap-ready
	 snippets in the 100% free Bootply.com code repository.
										 </div>
										</div>

								  </div>
							   </div><!--/row-->
							</div><!-- /col-9 -->
						</div><!-- /padding -->
					</div>
				</div>
			</div>
		</div>

</body></html>
