{% extends 'base/base.html' %}

{% block body_block %}
{% load bootstrap4 %}
{% if userAdditionalForm.error %}
  <p> <strong> ERROR WITH EMAIL POP UP </strong> </p>
{% endif %}
  <p></p>
  <div class="container mycontainer">
    <div class="card border-light mb-3 mx-auto" style="width: 100%; max-width: 45rem;">
      <h5 class="card-header">Данные пользователя</h5>
      <div class="card-body">
        <div class="row container">
          {% if user.userinformation.profilePicture %}
              <img src='{{user.userinformation.profilePicture.url}}' alt="NOT FIND" class="img-thumbnail avatar-profile">
          {% else %}
              {% load static %}
              <div class="d-flex justify-content-start" style='height: 20rem;'>
                <img src='{% static "base/img/avatar.png" %}' alt="" class="img-thumbnail img-fluid">
              </div>
          {% endif %}
          &emsp;
          <div class="p-2 flex-fill bd-highlight">
            <fieldset disabled>
            <div class="form-group">
              <label for="disabledTextInput">Имя пользователя</label>
              <input type="text" id="disabledTextInput" class="form-control" placeholder={{user.username}}>
            </div>
            <div class="form-group">
              <label for="disabledTextInput">Email</label>
              <input type="text" id="disabledTextInput" class="form-control" placeholder={{user.userinformation.email}}>
            </div>
            </fieldset>
          </div>
        </div>

        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% buttons %}
          <div class="d-flex justify-content-center"><button type="submit" class="btn btn-dark">Сохранить</button></div>
          {% endbuttons %}
        </form>
      </div>
    </div>
  </div>
{% endblock %}
